.userform{
    padding: 100px;
    width: 68%;
    height: auto;
    border: 2px solid #dedede;
    box-shadow: 3px 3px 12px 5px #dedede;
     
}

.main{
   display:  flex;
    align-items: center;
    padding: 150px 0 80px 0 ;
}

.side{
    width: 28%;
}






