.CardPorgress{
    padding: 60px;
    width: 100%;
    height: auto;
    border: 1px solid #dedede;
    box-shadow: 3px 3px 12px 5px #dedede;
    border-radius: 30px;
}

.main{
    display:  flex;
     align-items: center;
     padding: 40px 80px 40px 80px ;
 }

 .Charts{
     display: flex;
     justify-content: space-around;
 }